@model StudentHousing.CompositeModel.ListingEditModel
@{
    ViewData["Title"] = "Create";
}

<script>
    function validate() {
        document.getElementById("phoneError").innerHTML = "";
        document.getElementById("cityError").innerHTML = "";
        document.getElementById("stateError").innerHTML = "";
        document.getElementById("zipError").innerHTML = "";


        var str_phone = document.getElementById("phone").value;
        if (runPhonenumber(str_phone) == false) {
            return false;
        }

        var str_city = document.getElementById("city").value;
        if (str_city == "Choose...") {
            document.getElementById("cityError").innerHTML = "Invalid City";
            return false;
        }

        var str_state = document.getElementById("state").value;
        if (str_state == "Choose...") {
            document.getElementById("stateError").innerHTML = "Invalid State";
            return false;
        }

        var str_zip = document.getElementById("zip").value;
        if (runZipcode(str_zip) == false) {
            return false;
        }

        return true;
    }

    function runPhonenumber(userText) {
        //Validate phone number.
        var pattern = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        if (pattern.test(userText)) {
            return true;
        } else {
            document.getElementById("phoneError").innerHTML = "Invalid Phone number";
            return false;
        }
    }

    function runZipcode(userText) {
        //Validate phone number.
        var pattern = /(^\d{5}$)|(^\d{5}-\d{4}$)/;
        if (pattern.test(userText)) {
            return true;
        } else {
            document.getElementById("zipError").innerHTML = "Invalid ZIP code";
            return false;
        }

    }


</script>

<div class="py-5 text-center">
    <h2>Listing Form</h2>
    <p class="lead">
        Please use the following form for listing
    </p>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="container">


        <div class="row">
            <hr class="mb-4" />
            <h4 class="mb-3">Contact Information</h4>
            <div class="col-md-4 mb-3">
                <label>Contact Name</label>
                <input type="text" class="form-control" name="ContactName" asp-for="ContactName" required />
                <span style="color: red" id="nameError" asp-validation-for="ContactName"></span> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Email</label>
                <input type="email" id="email" class="form-control" asp-for="Email" placeholder="you@example.com" />
                <span style="color: red" id="emailError"asp-validation-for="Email"></span> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label>Contact Phone#</label>
                <input type="text" id="phone" class="form-control" asp-for="PhoneNumber" />
                <span style="color: red" id="phoneError" asp-validation-for="PhoneNumber"></span>
            </div>
        </div>
        <div class="row">
            <hr class="mb-4" />
            <h4 class="mb-3">House General and Location</h4>
            <div class="col-md-4 mb-3">
                <label>Property Name</label>
                <input type="text" class="form-control" asp-for="Name" required />
                <span style="color: red" asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Images"></label>
            <input type="file" id="file" asp-for="Images" multiple />
            <span style="color: red" asp-validation-for="Images"></span>
        </div>
        <div class="row">
            <div class="col-md-8 mb-3">
                <label>Property Description</label>
                <input type="text" class="form-control" asp-for="Description" required />
                <span style="color: red" asp-validation-for="Description"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 mb-3">
                <label>Address Line#1</label>
                <input type="text" class="form-control" asp-for="Address1" required/>
                <span style="color: red" asp-validation-for="Address1"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 mb-3">
                <label>Address Line#2</label>
                <input type="text" class="form-control" asp-for="Address2" />
                <span style="color: red" asp-validation-for="Address2"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label>City</label>
                <select class="form-control" asp-for="City" id="city" required>
                    <option>Choose...</option>
                    <option>SLC</option>
                </select>
                <span style="color: red" id="cityError" asp-validation-for="City"></span>
            </div>

            <div class="col-md-3 mb-3">
                <label>State</label>
                <select class="form-control" asp-for="State" id="state" required> 
                    <option>Choose...</option>
                    <option>Utah</option>
                </select>
                <span style="color: red" id="stateError" asp-validation-for="State"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label>Zip</label>
                <input type="text" class="form-control" id="zip" asp-for="Zip" required />
                <span style="color: red" id="zipError" asp-validation-for="Zip"></span>
            </div>

        </div>
        <div class="row">
            <hr class="mb-4" />
            <h4 class="mb-3">House Financial Information</h4>
            <div class="col-md-3 mb-3">
                <label>Rent</label>
                <input type="number" step="0.01" min="0" class="form-control" asp-for="Rent" required/>
                <span style="color: red" asp-validation-for="Rent"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label>DownPayment</label>
                <input type="number" step="0.01" min="0" class="form-control" asp-for="DownPayment" required/>
                <span style="color: red" asp-validation-for="DownPayment"></span>
            </div>


            <div class="col-md-3 mb-3">
                <label>Utility</label>
                <input type="number" step="0.01" min="0" class="form-control" asp-for="Utilities" required/>
                <span style="color: red" asp-validation-for="Utilities"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 mb-3">
                <label>
                    <input type="radio" asp-for="DownPayment" value="true" />Utility Included with Rent
                </label>

                <label>
                    <input type="radio" asp-for="DownPayment" checked="checked" value="false" />Utility NOT Included with Rent
                </label>
                <span style="color: red" asp-validation-for="DownPayment"></span>
            </div>
        </div>


        <div class="row">
            <hr class="mb-4" />
            <h4 class="mb-3">Floor Plan</h4>
            <div class="col-md-3 mb-3">
                <label asp-for="Bedroom">Bedrooms</label>
                <select class="form-control" asp-for="Bedroom">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <span style="color: red" asp-validation-for="Bedroom"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="Bathroom">Bathrooms</label>
                <select class="form-control" asp-for="Bathroom">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <span style="color: red" asp-validation-for="Bathroom"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="Kitchen">Kictchen</label>
                <select class="form-control" asp-for="Kitchen">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span style="color: red" asp-validation-for="Kitchen"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label>Square Feet</label>
                <input type="number" step="0.01" min="0" class="form-control" asp-for="SqrFeet" required/>
                <span style="color: red" asp-validation-for="SqrFeet"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label>Amendities</label>
                <textarea class="form-control" asp-for="Amendities"></textarea>
                <span style="color: red" asp-validation-for="Amendities"></span>
            </div>
        </div>

        <div class="row">
            <hr class="mb-4" />
            <h4 class="mb-3">Extra Information</h4>
            <div class="col-md-6 mb-3">
                <label asp-for="PetFriendly">Pet Friendly?</label>
                <label>
                    <input type="radio" asp-for="PetFriendly" value="true" />Yes
                </label>

                <label>
                    <input type="radio" asp-for="PetFriendly" checked="checked" value="false" />No
                </label>
                <span style="color: red" asp-validation-for="PetFriendly"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>How many people needed?</label>
                <select class="form-control" asp-for="PeopleSignedUp">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <span style="color: red" asp-validation-for="PeopleSignedUp"></span>
            </div>


            <div class="col-md-6 mb-3">
                <label>How many rooms available?</label>
                <select class="form-control" asp-for="RoomAvailable">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <span style="color: red" asp-validation-for="RoomAvailable"></span>
            </div>
        </div>
        <div class="row">
            <hr class="mb-4" />
            <div class="col-md-6 col-md-offset-3 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" name="save" value="Save" onclick="validate()">Register</button>
            </div>
        </div>
    </div>
</form>





