@model StudentHousing.CompositeModel.ListingEditModel
@{
    ViewData["Title"] = "Create";
}



<div class="py-5 text-center">
    <h2>Listing Form</h2>
    <p class="lead">
        Please use the following form for listing
    </p>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="container">

        <div class="row">
            <div class="col-md-4 mb-3">
                <label>Property Name</label>
                <input type="text" class="form-control" asp-for="Listing.Name" required />
                <span asp-validation-for="Listing.Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-3">
                <label>Property Description</label>
                <input type="text" class="form-control" asp-for="Listing.Description" required />
                <span asp-validation-for="Listing.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label>Contact Name</label>
                <input type="text" class="form-control" asp-for="Listing.ContactName" required />
                <span asp-validation-for="Listing.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Email</label>
                <input type="email" class="form-control" asp-for="Listing.Email" placeholder="you@example.com" />
                <span asp-validation-for="Listing.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label>Contact Phone#</label>
                <input type="text" class="form-control" asp-for="Listing.PhoneNumber" />
                <span asp-validation-for="Listing.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Rent</label>
                <input type="number" class="form-control" asp-for="Listing.Rent" />
                <span asp-validation-for="Listing.Description"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label>Utility</label>
                <input type="number" class="form-control" asp-for="Listing.Utilities" />
                <span asp-validation-for="Listing.Description"></span>
            </div>
        </div>

        <div>
            <label asp-for="Images"></label>
            <input type="file" id="file" asp-for="Images" multiple />
            <span asp-validation-for="Images"></span>
        </div>


        <button class="btn btn-primary btn-lg btn-block" type="submit" name="save" value="Save" />
    </div>
</form>


