@model StudentHousing.Models.ListingModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Image"></label>
        <input type="file" id="file" asp-for="Image" />
        <span asp-validation-for="Image"></span>
    </div>


    <input type="submit" name="save" value="Save" />
</form>


