@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is the website to help LDS Business College students to
    find a housing that will be applicable and affordable to almost
    every student.
</p>

<p>
    Those are helpful links for students:
</p>

<br />
<a class="btn btn-success" href="https://www.ldsbc.edu/">LDS Business College Website</a>
<a class="btn btn-success" href="https://ldsbc.brightspace.com/d2l/home">LDS Business College Brightspace Website</a>

