@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <div class="row ">
        <div class="col-md-12 order-md-1">
            <div class="col-md-4">
            </div>
            <div class="py-5 text-center col-md-5">
                <div class="row smallMargin">
                    <h4>
                        Use your account
                    </h4>
                </div>
                <div class="row smallMargin">
                    <button style="font-weight: bold" type="button" class="btn btn-primary col-md-6 ">Facebook</button>

                    <button style="font-weight: bold" type="button" class="btn btn-danger col-md-6 ">Google</button>
                </div>
                <hr class="row " id="customHR"/>
                <div class="row ">
                    <h4>
                        Create an account
                    </h4>
                </div>
                <div class="row text-left ">
                    <form class="needs-validation was-validated" method="POST">
                        <div class="row smallMargin ">
                            <div class="col-md-6 ">
                                <label for="fistName">First Name</label>
                                <input type="text" class="form-control" id="fistName" />
                            </div>

                            <div class="col-md-6 ">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" />
                            </div>
                        </div>
                        <div class="row smallMargin">
                            <div class="col-md-12 mb-3">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" id="email" />
                            </div>
                        </div>
                        <div class="row smallMargin">
                            <div class="col-md-12 mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" />
                            </div>
                        </div>
                        <div class="row smallMargin">
                            <div class="col-md-12 ">
                                <label for="passwordRetype">Confirm Password</label>
                                <input type="password" class="form-control" id="passwordRetype" />
                            </div>
                        </div>
                        <div class="row smallMargin">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info btn-block"><span style="font-weight: bold; font-size: 150%">Sign Up</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <div class="col-md-4">
                </div>
            </div>

        </div>   
</div>
